* {
	margin: 0;
	padding: 0;
}

.nav {
	background-color: #23234d;
	display: flex;
	justify-content: center;
}
	
.main {
	background-color: #fff;
}

.portada {
	display: flex;
	justify-content: center;
	display: grid;
	margin: 2%;
}

.navtextt:hover {
	color: #a70404;
	border-radius: 100%;
} 

body { 
	padding-top: 3%;
	background-color: #909090; 
}

.navtextt {
	color: white;
	margin: 3%;
}



.nav li a {
	font-size: 18px;
}

.article {
	width: 80%;
	margin-left: 5%;
	margin-right: 5%;
	position: relative;
}