* {
	margin: 0;
	padding: 0;
}

.nav {
	background-color: #23234d;
	display: flex;
	justify-content: center;
}
	
.main {
	background-color: #fff;
}

.portada {
	display: flex;
	justify-content: center;
	display: grid;
}

.navtextt:hover {
	color: #a70404;
} 

body { 
	padding-top: 3%;
	background-color: #909090; 
}

.navtextt {
	color: white;
}

.boxslide {
	width: 70%;
	float: left;
	display: flex;
	justify-content: center;
}

.aside {
	float: left;
	width: 20%;
	display: flex;
	justify-content: center;
	margin: 1%;
}

footer {
	margin-top: 10%;
	background: #fff;
}

.slides {
	width: 75%;
}

.slides img {
	width: 100%;
}

.slidesjs-pagination {
	background: #000;
	list-style: none;
	overflow: hidden;
}

.slidesjs-pagination li {
	float: left;
}

.slidesjs-pagination li a {
	display: block;
	padding: 10px 20px;
	color: #aeaeae;
	text-decoration: none;
}

.nav li a {
	font-size: 18px;
}

.slidesjs-pagination li a:hover {
	background: #a70404;
}

.slides .active {
	background: #a70404;
}

