html {
	background-color: #fff;
}

body {
	background-image: linear-gradient(#0069d9, #fff);
	height: 100vh;
}

.form-style {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 4px solid #000;
	background-image:  linear-gradient(#fff, #0069d957);
}

@media (max-width: 991px){
	.form-style {
		width: 90%;
	}
}

.navbar {
	background-image: linear-gradient(#3b3ee3, #1977dd);
	margin-bottom: 40px; 
}

.botonluis span {
	font-size: inherit;
	font-family: inherit;
	color: #fff;
}

.form-register {
	width: 85%;
}