.container {
    min-height: 82vh;
}

nav {
    background-color: #4292b9a3;
}

.logounet {
    border-radius: 4%;
    background-color: #fff;
}

.navboton{
    background-color: white;
    color: black;
}


.spc {
    padding-top: 1%;
}

body {
    background-image: url('../fondo1.jpg');
	height: 100vh;
	background-size: cover;
}